/* Variables */
:root {
  /* --NOMBREVAR: VALOR */
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;

  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color013: #ba5d07;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
/* estilos generales, selectores de etiqueta */
body {
  background-color: var(--secondary-color-01);
  color: var(--secondary-color-04);
  font-family: "Monteserrat", sans-serif;
}

h5{
  color:gray;
}

/* estilos barra de desplazamiento webkit */
/* ::-webkit-scrollbar{
  height: 10px;
} */

/* ::-webkit-scrollbar-track{
  background: #1db954;
} */
/* , y */
.busquedas, .explorar{
  padding:40px;
  display:flex;
  flex-direction: column;
  gap:30px;
}

.tarjetas-busquedas {
  display: flex;
  gap:20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.tarjeta {
  background-color: var(--secondary-color-02);
  width: 250px;
  height: 350px;
  padding:15px;
  border-radius:10px;
  position: relative;
  flex-shrink: 0; /* hace q mis tarjeta no se encojan*/
  display:flex;
  flex-direction: column;
  gap:5px;
  transition-property: all;
  transition-duration: 0.5s;
}

.ellipse-tarjeta{
  width:100%;
}

.play-tarjeta {
  width: 50px;
  position: absolute;
  top:170px;
  right:20px;
  opacity: 0;
  /* display:none; */
  transition-property: all;
  transition-duration: 0.5s;
}

.tarjeta:hover{
  background: var(--secondary-color-03);
}

.tarjeta:hover .play-tarjeta{
  /* display:block; */
  opacity: 1;
}

/* grid */
.grid-explorar{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(2, 250px); */
  gap:20px;
}

/* @media screen and (max-width:1200px) {
  .grid-explorar{
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(4, 250px);
  }
} */

.tarjeta-explora{
  padding: 20px;
  overflow: hidden; /* todo lo que sobre desaparece */
  border-radius:10px;
  height:250px;
}

.img-tarjeta-explora{
  width:150px;
  transform: translate(120px, 120px) rotate(30deg);
}

.tarjeta-explora:nth-of-type(1){
  background-color: var(--genre-color01);
}

.tarjeta-explora:nth-of-type(2){
  background-color: var(--genre-color03);
}

.tarjeta-explora:nth-of-type(3){
  background-color: var(--genre-color05);
}

.tarjeta-explora:nth-of-type(4){
  background-color: var(--genre-color07);
}

.tarjeta-explora:nth-of-type(5){
  background-color: var(--genre-color01);
}

.tarjeta-explora:nth-of-type(6){
  background-color: var(--genre-color10);
}

.tarjeta-explora:nth-of-type(7){
  background-color: var(--genre-color02);
}

.tarjeta-explora:nth-of-type(8){
  background-color: var(--genre-color12);
}

.tarjeta-explora:nth-of-type(9){
  background-color: var(--genre-color09);
}

.tarjeta-explora:nth-of-type(10){
  background-color: var(--genre-color11);
}

.tarjeta-explora:nth-of-type(11){
  background-color: var(--genre-color03);
}

.tarjeta-explora:nth-of-type(12){
  background-color: var(--genre-color05);
}